<div class="notification">
    <span class="notification__icon">
        <i class="material-symbols-outlined">notifications</i>
    </span>
    <h2 class="notification__title">
        {{ notification().title }}
    </h2>
    <p class="notification__content">
        {{ notification().body }}
    </p>
    <div class="notification__app" *ngIf="notification().app">
        <span class="app-badge">
            <span class="app-badge__icon" [style.background-color]="notification().app!.color"></span>
            <span class="app-badge__name">{{ notification().app!.name }}</span>
        </span>
    </div>
</div>